body {
    background: #0C0C18;
    font-family: monospace;
    font-size: large;
    color: #ccc9c9;

}

#PageContainer {
    /*height: 100%;*/

    position: relative;
    margin: 0 auto;
    min-height: 100%;
}

h2{
  border-bottom: medium dashed #ccc9c9;
}
#Content {

    padding-left: 7px;
    position: absolute;
    width: 800px;
    right: 0;
    left: 0;
    /*margin: auto;*/
    z-index: 2;
    /*background-color: #111111;*/
    /*overflow-y: auto;*/

    /*overflow-x: wr;*/
    /*height: 100%;*/

    word-wrap: break-word;
    min-height: 100%;
    background: rgba(50, 50, 60, .1);
   /*background-image: linear-gradient(*/
    /*to right top,*/
    /*transparent 33%,*/
    /*black 33%,*/
    /*black 66%,*/
    /*transparent 66%*/
);
background-size: 3px 3px;
    /*opacity: 0.75*/
}

@media only screen and (max-width: 810px) {
    #Content {
        width: 100%;
        padding: 5px;
        background: rgba(0, 0, 0, .4);

    }
    p,
    a {
        font-size: 75%;
    }
}

@media only screen and (min-height: 800px) {
    p {
        padding-bottom: .5em;
    }
    a {
        padding-top: .5em;
    }
}

@media only screen and (min-width: 1000px) {
    body,
    p {
        font-size: large;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* to remove the top and left whitespace */

html,
body {
    width: 100%;
    height: 100%;
}

#canvas {
    /*display: block;*/

    position: fixed;
    z-index: 1
}
/* To remove the scrollbars */

a {
    color: #5555ee;
    text-decoration: none;
}

a:link {
    color: #5588CC;
}
/* visited link */

a:visited {
    color: #9977CC;
    /*color: #9966bb;*/
}
/* mouse over link */

a:hover {
    color: #FFFFFF;
}
/* selected link */

a:active {
    color: #0000FF;
}
