.book {
    max-width: min(300px, calc(50% - 8px));
    max-height: 300px;


}

.album {
    /* height: 200px; */
    max-width: min(200px, calc(50% - 8px));
    align-self: end;

}

.album,
.book {
    margin: 4px;
    transition: all .1s ease-in-out;
}

.album:hover,
.book:hover {
    /* transform: scale(1.5); */
}

.main-shelf {
    width: 100%;
    position: relative;
    max-width: 115vh;
    margin: auto;
}

.main-shelf img {
    margin: 0px;
}

.main-shelf svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

rect {
    fill: none;
    stroke: #55555555;
    pointer-events: all;
    fill-opacity: .2;

}

.star {
    /* background-image: url("star.png");
    background-position: 0 0;
    display: inline-block;
    right: 0;
    top: 0;
    position: relative;
    z-index: 20; */
}

rect:hover {}

#overlay-img {
    position: absolute;

    z-index: 5000;
    width: 30%;
    pointer-events: none;
    /* border: 1px solid black; */
}

.rest {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.shelf {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 4px;



}