.book {
    max-width: min(300px, 50%);
    max-height: 300px;

    margin: 0;

}

.album {
    /* height: 200px; */
    max-width: min(200px, calc(50% - 8px));
    margin: 0;
    align-self: end;

}

.album,
.shelf {
    margin: 4px;
}

.main-shelf {
    width: 100%;
    position: relative;
    max-width: 115vh;
    margin: auto;
    margin-bottom: 2em;
}

.main-shelf img {
    margin: 0px;
}

.main-shelf svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

rect {
    fill: none;
    stroke: #55555555;
    pointer-events: all;
    fill-opacity: .2;

}

rect:hover {}

#overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 30%;
    pointer-events: none;
}

.rest {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shelf {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 4px;



}